.portfolio__item {
  margin-top: 60px;
}
.portfolio__item:first-child {
  margin-top: 80px;
}
.portfolio__item h2 {
  margin: 0 10px 10px;
}
.portfolio__description {
  margin: 10px;
}
.portfolio__screenshot {
  margin: 10px 0;
}
.portfolio__screenshot img {
  display: block;
  margin: 0 auto;
  padding: 0;
  max-width: 100%;
  max-height: 320px;
}
.portfolio__timeframe {
  margin: 10px;
  font-size: 75%;
}
.portfolio__extraLinks {
  margin: 0;
  padding: 0;
}
.portfolio__extraLinks li {
  margin: 0;
  padding: 5px 10px;
  list-style: none;
}
.portfolio__skills {
  margin: 10px;
  padding: 0;
  font-size: 87.5%;
}
.portfolio__skills li {
  list-style: none;
  display: inline;
}
.portfolio__skills li:after {
  content: '. ';
}

@media screen and (min-width: 400px) {
  .portfolio__item {
    margin-left: 20px;
    margin-right: 20px;
  }
  .portfolio__item h2,
  .portfolio__description,
  .portfolio__screenshot,
  .portfolio__timeframe,
  .portfolio__skills {
    margin-left: 0;
    margin-right: 0;
  }
  .portfolio__screenshot img {
    margin: 0;
  }
}

@media screen and (min-width: 600px) {
  .portfolio__item:first-child {
    margin-top: 60px;
  }
}
