.portfolio__item + .portfolio__item {
  margin: 120px 0 0;
}
.portfolio__item h2 {
  margin: 0 0 20px;
}
.portfolio__description {
  margin: 20px 0;
}
.portfolio__screenshot {
  margin: 20px 0;
}
.portfolio__timeframe {
  margin: 20px 0;
  font-size: 75%;
}
.portfolio__extraLinks {
  margin: 20px 0;
  padding: 0;
}
.portfolio__extraLinks li {
  list-style: none;
  display: inline-block;
  margin-right: 40px;
}
.portfolio__skills {
  margin: 20px 0;
  padding: 0;
  font-size: 87.5%;
}
.portfolio__skills li {
  list-style: none;
  display: inline;
}
.portfolio__skills li:after {
  content: '. ';
}
