/* TopNav */
/* height = 60px */

.topNav {
  display: flex;
  justify-content: space-between;
}
.topNav h1 {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 200;
}
.topNav h1 a {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
}
.topNav ul {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-transform: lowercase;
}
.topNav li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.topNav li a {
  display: block;
  padding: 20px 15px;
  font-weight: 200;
}
