.app {
  font-family: sans-serif;
  font-size: 18px;
}
.app a {
  color: #ff4477;
  text-decoration: none;
}
.topNavWrapper,
.sideNavWrapper {
  background-color: #444;
}
.topNavWrapper a,
.sideNavWrapper a {
  color: #fff;
}
.topNavWrapper {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
}
.contentWrapper {
  margin-top: 60px;
}

.sideNavWrapper {
  display: none;
}
/* @media screen and (min-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
    margin: 0;
  }
  .sideNavWrapper {
    display: none;
    position: fixed;
    top: 0;
    width: 220px;
    height: 100%;
  }
.topNavWrapper {
    display: block;
  }
  .sideNavWrapper {
    display: none;
  }
  .contentWrapper {
    margin-top: 70px;
    margin-left: 0;
    padding: 20px;
  }
  .content {
    max-width: none;
    margin-right: 0;
  }
} */
