/* Document defaults */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 20px;
}
h1 {
  font-size: 40px;
  margin: 0;
}

/* Responsive nav layout */
.topNavWrapper {
  display: none;
  background-color: #444;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
}
.sideNavWrapper {
  background-color: #444;
  position: fixed;
  top: 0;
  width: 30%;
  height: 100%;
}
.contentWrapper {
  background-color: #ddd;
  margin-left: 30%;
}
@media screen and (max-width: 600px) {
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
    margin: 0;
  }
  .topNavWrapper {
    display: block;
  }
  .sideNavWrapper {
    display: none;
  }
  .contentWrapper {
    margin-top: 70px;
    margin-left: 0;
  }
}

/* TopNav */
.topNav {
  display: flex;
  justify-content: space-between;
}
.topNav h1 a {
  margin: 0;
  padding: 20px;
  line-height: 70px;
}
.topNav ul {
  display: flex;
  margin: 0 10px 0 0;
  padding: 0;
}
.topNav li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.topNav li a {
  padding: 25px 15px;
  line-height: 70px;
}

/* SideNav */
.sideNav {
  text-align: right;
  margin: 40px;
}
.sideNav h1 {
  margin: 60px 0;
}
.sideNav ul {
  margin: 0;
  padding: 0;
  font-size: 24px;
}
.sideNav li {
  margin: 40px 0;
  padding: 0;
  list-style: none;
}
.sideNav li a {
  padding: 20px 0;
}

.topNav a,
.sideNav a {
  color: #fff;
  text-decoration: none;
}
