body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-size: 40px;
  margin: 20px 0;
}
.primaryHeader {
  background-color: #222;
  color: #fff;
  text-align: right;
}
.primaryHeader a {
  color: #fff;
  text-decoration: none;
}
.primaryNav {
  margin: 40px;
  list-style: none;
  padding: 0;
  font-size: 30px;
}
.primaryNav li {
  margin: 20px 0;
}
.primaryHeader {
  position: fixed;
  width: 30%;
  height: 100%;
}
.content {
  margin-left: 30%;
  padding: 40px;
}
